.choices {
	visibility: hidden;
}

.player1,
.player2,
.result {
	border: 1px solid black;
	height: 220px;
}

.log {
	border: 1px solid black;
	width:60%;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}

.message {
	width: 54.5%;
}

.field {
	font-size: 20px;
}

.choices div {
	margin-top: 10px;
	margin-bottom: 10px;
}
.choices div:hover {
	border: 1px solid black;
}

.p1_name,
.p2_name {
    margin-bottom: 15px;
}

.p1_score,
.p2_score {
	margin-top: 15px;
}

.results img {
	display: none;
}

#player1_choice {
	position: absolute;
	left: 4%;
    top: 28%;
}

#player2_choice {
	position: absolute;
	right: 4%;
    top: 28%;
}

#vs {
	position: absolute;
	width:26.33%;
	height: 65%;
	left: 36%;
    bottom: 13%;
}

#player1_chosen,
#player2_chosen {
	display: none;
	margin-left: 23%;
}

.log {
	overflow: scroll;
}
.log p {
	text-align: left;
    margin: 0 0;
}